@import url("../fonts/fonts.css");

/* global rules */
html{
  scroll-behavior: smooth;
  font-size: 100%;
  box-sizing: border-box;
}

* ,
*::before ,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family:'PublicSans';
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

button{
  border: none;
  background: none;
  outline: none;
}

button:focus{
  border: none;
  background: none;
  outline: none;
}

img:not(.logo){
  width:100%;
}

img{
  display:block;
}

h1,
h2,
h3,
h4{
  line-height: 1.1;
  margin-bottom: 0;
  font-family: "WorkSans";
}

h1{
  font-size: clamp( 2rem , 2rem + 2vw , 4rem);
  font-weight: 700;
  margin-bottom:3.875rem;
  max-width:33.75rem;
}

section{
  padding-bottom:2rem;
  padding-top:2rem;
}

.overlay{
  display: none;
  position:absolute;
  width:100vw;
  height:100vh;
  background:#33333342;
  top:0;
  left:0;
  transition:.3s ease-in-out;
  -webkit-transition:.3s ease-in-out;
  -moz-transition:.3s ease-in-out;
  -ms-transition:.3s ease-in-out;
  -o-transition:.3s ease-in-out;
}

/* -----  nav start ----- */

nav .contaier-fluid{
  max-width: 85rem;
  margin: 0 auto;
  padding: 2rem 1rem ;
}

@media (max-width:47.9375rem){
  nav .contaier-fluid{
    padding-inline: 10%;
  }
}

/* logo */

.logo-holder{
  margin-right:4rem;
}

.logo{
  max-width: 5.31rem;
}

/* navlinks */
.navlinks > *{
  margin-right: 1.5625rem;
}
.navlinks a{
  color: #4e4e4e;
  transition: color .3s ease-in-out;
}
.navlinks a:hover{
  color:#000;
}

.navbar_toggler > span{
  display: block;
  width: 1.875rem ;
  height: 0.1875rem ;
  background-color: black ;
  margin-top: 0.25rem ;
  border-radius: 0.09375rem;
  -webkit-border-radius: 0.09375rem; 
  -moz-border-radius: 0.09375rem;
  -ms-border-radius: 0.09375rem;
  -o-border-radius: 0.09375rem;
}

.dropdown-menu{
  margin-top:1rem;
  box-shadow:  0 0 0.625rem 0.625rem #3333331f;
}

.dropdown-item img{
  max-width: 1rem ;
}

.dropdown-toggle.show::after {
  border-top: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  border-bottom: 0.3rem solid ;
  border-left: 0.3em solid transparent;
  transform: translateY(0);
}

/*  MOBILE MENU  */

@media(max-width:47.9375rem){
  .mobile-menu{
    top:0;
    right:-100%;
    position: fixed;
    width:77%;
    height:100%;
    display:flex;
    align-items:flex-start;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    padding:5rem 10%;
    transition: right 0.2s ease-in-out;
    -webkit-transition: right 0.2s ease-in-out;
    -moz-transition: right 0.2s ease-in-out;
    -ms-transition: right 0.2s ease-in-out;
    -o-transition: right 0.2s ease-in-out;
}
  .mobile-menu.show {
    right: 0;
  }
  .navlinks .dropdown-menu{
    position: relative;
    transform: translate3d(0, 0, 0) !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
    -moz-transform: translate3d(0, 0, 0) !important;
    -ms-transform: translate3d(0, 0, 0) !important;
    -o-transform: translate3d(0, 0, 0) !important;
    box-shadow: none;
    margin-top:0;
  }
  .dropdown .btn{
    padding: 0;
    margin-top: 1.875rem;
  }
  .navlinks .link{
    margin-top: 1.875rem;
  }
  .regesteration{
    flex-direction:column;
  }

}

.regesteration button:not(:first-child){
  padding-block: 0.75rem;
  padding-inline: 1.5rem;
  margin-left:1rem;
  border-radius: 0.9375rem;
  -webkit-border-radius: 0.9375rem;
  -moz-border-radius: 0.9375rem;
  -ms-border-radius: 0.9375rem;
  -o-border-radius: 0.9375rem;
}
.close{
  transition-delay: 0.2s;
  transition:.2s ease-in-out;
  -webkit-transition:.2s ease-in-out;
  -moz-transition:.2s ease-in-out;
  -ms-transition:.2s ease-in-out;
  -o-transition:.2s ease-in-out;
}
.close.show {
  display:block !important;
  position: fixed;
  top: 1.5rem;
  right:2rem;
  font-size: 2.5rem;
  transition-delay: 0.2s;
  transition:.2s ease-in-out;
  -webkit-transition:.2s ease-in-out;
  -moz-transition:.2s ease-in-out;
  -ms-transition:.2s ease-in-out;
  -o-transition:.2s ease-in-out;
}

/* -----  nav end ----- */

/* ----- main start ----- */

main .container{
  max-width: 73.125rem;
}

article p {
  font-size:1.125rem;
  line-height: 1.5;
  max-width: 28.125rem;
  margin-bottom: 3rem;
}
article .btn{
  margin-bottom: 6.25rem ;
  padding: 1rem 2rem;
}
article .btn:hover{
  background-color: #fff;
  color:black;
  border-color: #000
}

/* ----- main end ----- */
